body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    padding: 10px;
}

fieldset {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
}

div {
    padding: 10px;
}

.btn{
    float:left;
 }
